@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.container{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    
}
.leftSideBar{
    width:12%;
    height: 100vh;
    padding: 2.6rem 1.5rem;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap:2.1rem;

    position: fixed;
    
}
.nav{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.navItem{
    display: flex;
    gap:15px;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}

.navItem:hover{
    background-color: rgba(231, 229, 229, 0.552);

}

.navMenu{
    font-size: 1rem;
    font-weight: 300;
}

.navIcon img{
    border-radius: 100%;
}


.rightContent{
    width:86%;
    display: flex;
    justify-content: center;
//background-color: blue;
    padding: 2.6rem 0rem;
    margin-left: 15%;
}
.content{
    width:800px;
    height: 100vh;

   // background-color: black;

}
.profile{
    width: 70%;
   // background-color: aqua;

    display: flex;

}
.profile-pic{

   // background-color: bisque;
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic img{
    width:125px;
    padding: 1px;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.profile-content
{
width: 60%;

}
.profile-header{
    display: flex;
    gap:20px;
    
    width: 100%;
}

.profile-header div{
    
    display: flex;
    align-items: center;
    
    gap:10px;
    
}
.profile-badge{
    width: 24%;
}
.profile-buttons{
    justify-content:end;
    
}

.profile-buttons button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}
.profile-header .add-friends{
    //background-color: rgb(240, 240, 240);
    padding: 6px;
    border-radius: 8px;
}

.profile-count
{
    display: flex;
    justify-content: space-between;
}

.profile-count p{

    color: gray;
    font-size: 14px;
}
.profile-content p span{
    font-weight: 400;
    color: black;
}
.profile-data p{
    margin: 0;
    padding: 3px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.profile-data p a{
    color: #31446b;
    font-weight: 700;
    text-decoration: none;
}
.profile-data p span{
    font-weight: 600;
    color: black;
}
.gray{
    color: rgb(100, 98, 98);
    font-size: 0.70rem !important;
    padding: 1px Im !important;
    margin: 0px;
    font-weight: 500;
}
.gray-bg{
    display: inline-block;
    font-size: 11px;
    background-color: rgba(226, 225, 225, 0.534);
    padding-left: 20px;
    border-radius: 15px;
    
}
.gray-bg:hover{
    background-color: rgba(207, 205, 205, 0.714);
    cursor: pointer;
}


.story{
    display: flex;
    gap:50px;
    justify-content: space-start;
    padding-left: 30px;
    padding-top: 40px;
}
.story-item{
    text-align: center;
}
.story-item img, .story-item div{
    width:65px;
    height:65px;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0px 0px 3px rgb(193, 193, 193);
}
.story-item p{
    font-size: 12px;
}
.story-item .blue{
    background-color: #4284f4;
}

.story-item .red{
    background-color: #fe0000;
}


.feed-nav{
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 12px;
    align-items: center;
    
    border-top: 1px solid lightgray ;
    margin-top: 30px;
}
.feed-nav div{
    padding: 1rem;
}
.feed-nav .posts{
    border-top: 1px solid black;
}


.feed-posts{
    
    width:100%;
  
    display: flex;
        
    gap:6px;
    margin-bottom: 6px;
}
.feed-post{
    width:33%;
    object-fit: cover;

    overflow: hidden;
    position: relative;
  
}

.feed-post img{
    width: 100%;
}

.feed-post .feed-overlay{
    position: absolute;
   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feed-post:hover .feed-overlay
{
    background-color: rgba(0, 0, 0, 0.493);
}

.feed-ol-content{
    color: white;
    font-weight: 900;
    opacity: 0;
    display: flex;
    align-items: center;
    gap:8px;
    
}
.feed-post:hover .feed-ol-content{
    opacity: 1;
}

