body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 400px;
    margin: 40px auto;
}
.btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 12px;
    width: 40%;
}
.btn:hover{
    cursor: pointer;
}

.flex{
    display: flex;
    gap: 12px;
}
.input{
    width: 50%;
    padding: 14px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid rgba(211, 211, 211, 0.995);
    box-sizing: border-box;
}
.input:focus{
    outline: none;
    border: 1px solid rgb(0, 93, 187);
}
.users-container{
    width: 400px;
    margin: 40px auto;
}
.user{
    width: 100%;
    /* border: 1px solid lightgray; */
    background-color: #f2f2f2;
    border-radius: 12px;
    padding:6px 20px;
    display: flex;
    gap: 20px;
    margin-top: 12px;
}

.alert{
   
    padding: 16px 30px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 12px;
    width: 200px;
    position:absolute;
    right: 10px;
    top:10px;
    transition: .6s;
    transform: scale(0);


}
.hidden{
    display: none;
}

.success{
    color: green;
    background-color: rgb(212, 255, 212);
    transform: scale(1);
}

.warning{
    color: orange;
    background-color: rgb(255, 241, 215);
    transform: scale(1);
}

.danger{
    color:rgb(133, 0, 0);
    background-color: rgb(255, 212, 212);
    transform: scale(1);
}

.loader {
    border: 2px solid rgba(0, 0, 0, 0.067); /* Light grey */
    border-top: 2px solid #000000; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .page-loader{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
  }
  .help{
    transition: .3s;
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    transform: scale(0);
  }
  .show{
    transform: scale(1);

  }