:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
    background-color: antiquewhite;
    padding: 10px;
    margin: 0px;
}

.main{
  background-color: aquamarine;
  padding: 10px;
  margin: 0px;
}

.footer{
  background-color: bisque;
  padding: 10px;
  margin: 0px;
}