body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(36,36, 36);
    

}

.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-img{
    width: 100%;
    transform: scale(1.4);
}

.tint{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    background-color: rgba(0,0,0,0.533);
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100% );

}
.content{
    position: absolute;
    top: 0;
    color: white;
    width:600px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
 
.nav{
    position:absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 990px;
    top:7%;
    left:50%;  
    transform: translate(-50%, -50%);
    align-items: center;
}
.logo{
    color: red;
}

.nav-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-btn{
    background-color: red;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    
    font-size: 14px;
    cursor: pointer;
}

.en-btn{
    background-color: transparent;
    color: white;
    padding: 8px 30px;
    border: 1px solid rgba(255, 255, 255, 0.615);
    border-radius: 6px;
    
    font-size: 14px;
    cursor: pointer;
}