body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    

}

.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-img{
    width: 100%;
    transform: scale(1.4);
}

.tint{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    background-color: rgba(0,0,0,0.533);
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100% );

}
.content{
    position: absolute;
    top: 0;
    color: white;
    width:840px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 
.nav{
    position:absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 990px;
    top:7%;
    left:50%;  
    transform: translate(-50%, -50%);
    align-items: center;
}
.logo{
    color: red;
}

.nav-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-btn{
    background-color: red;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    
    font-size: 14px;
    cursor: pointer;
}

.en-btn{
    background-color: transparent;
    color: white;
    padding: 8px 30px;
    border: 1px solid rgba(255, 255, 255, 0.615);
    border-radius: 6px;
    
    font-size: 14px;
    cursor: pointer;
}

.title{
    font-size: 46px;
    
    text-align: center;
}

.content .sub-title{
    font-size: 26px;
    margin-top: 20px;
}

.content .description{
    font-size: 18px;
    margin-top: 20px;
}
.input-group{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;    

}
.email-input{
    padding: 15px;
    font-size: 16px;
    width: 320px;
    border: 1px solid #eeeeee70;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.552);
    color: white;

}   
.get-started-btn{
    padding: 10px 16px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:190px;
    font-weight: bold;

}       

.mt{
    margin-top: 4px;
}
section{
    border-bottom: 8px solid rgb(51, 51, 51);
}
.container{
    color:white;
    display: flex;
    width:990px;
    margin:100px auto;
    gap:80px;
    align-items: center;
    

}
.left{
    width:50%;
}
.right{
    width:50%;
}
.real-tv{
    display: block;
    position: relative;
    width: 100%;
}
.tv{
    width: 100%;
    position:relative;
    
}
video{
    position:absolute;
    top: 8px;
    width: 73%;
    height: 90%;
    margin-left: 60px;

}
.left .title{
    font-size: 36px;
    text-align: left;
}
.left .description{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}