


.demo{
    height:160px;
    width: 160px;
    background-color: orangered;
}

.alert{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 8px 15px;
}
.hidden{
    display: none;
}


.page-loader{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
  }
  .help{
    transition: .3s;
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    transform: scale(0);
  }
  .show{
    transform: scale(1);

  }