body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.066);
    border: 1px solid lightgray;
    border-radius: 30px;
    width:1000px;
    margin: 20px auto;
    padding:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;    
}
.btn{
    background-color: #fff;
    padding: 16px 30px;
    border: 1px solid lightgray;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn::after{
    content: "";
    background-color: rgb(0, 0, 0);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 3s;
    z-index: -1;
}
.btn:hover::after{
    width: 100%;
}
.btn:hover{
    color: white;
}

.btn2{
    background-color: #fff;
    padding: 16px 30px;
    border: 1px solid lightgray;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn2::after{
    content: "";
    background-color: rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 2s;
    z-index: -1;
}
.btn2:hover::after{

    transform: translate(-50%, -50%) scale(4);
}
.btn2:hover{
    color: white;
}

.btn3{
    background-color: #fff;
    padding: 16px 30px;
    border: 1px solid lightgray;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: 1s;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn3:hover{
   background-color: black;
   color: white;
   border: 1px solid black;
   border-radius: 50px;
}


.img{
    width: 500px;   
    border-radius: 16px;
    transition: .3s;
}
.img:hover{
    transform: rotate(-4deg);
    border-radius: 24px;
}


.demo{
    height: 80px;
    width: 80px;
    background-color: red;
    animation-name: msd;
    animation-duration: 5s;
    /* animation-delay: 2s; */
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes msd{
    from{}
    to{
       margin-left: calc(100% - 80px); 
       background-color: orangered;
       transform: rotate(360deg);
       border-radius: 50%;
    }
}


.section{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.loader{
    
    height: 40px;
    width: 40px;
    border: 2px solid rgba(211, 211, 211, 0.439);
    border-radius: 50%;
    border-top: 2px solid black;
    animation-name: loader;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loader{
    0%{border-top: 2px solid orangered; transform: rotate(0deg);}
    20%{ border-top: 2px solid orangered; transform: rotate(60deg);}
    40%{ border-top: 2px solid blueviolet; transform: rotate(120deg);}
    60%{ border-top: 2px solid blue; transform: rotate(180deg);}
    80%{ border-top: 2px solid rgb(255, 28, 65); transform: rotate(240deg);}
    100%{ border-top: 2px solid green; transform: rotate(360deg);}
    
}

.cards-section{
    overflow: hidden;
}
.dribble-cards{
    margin-top: 90px;
    display: flex;
    gap: 40px;
    animation-name: card-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes card-animation{
    0%{}
    100%{
        transform: translate(-100%);

    }
}
.dribble-cards::-webkit-scrollbar{
    display: none;
}
.card{
    width: 270px;
    height: 320px;
    background-color: blueviolet;
    border-radius: 26px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}
.user{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tint{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(51.91%, transparent), color-stop(75.88%, rgba(0, 0, 0, 0.3)));
    background: linear-gradient(180deg, transparent 51.91%, rgba(0, 0, 0, 0.3) 75.88%);
}