body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* media queries */



@media(min-width: 700px){
    .profile{ 
        font-size: 12px;  
        width: 680px;
        margin:80px  auto;
        display: flex;
        align-items: center;;
        gap: 20px;
    }
  
    .avatar{
        width: 20em;
        height:20em;
        border-radius: 1.5em;
        object-fit: cover;
        object-position: right;
    }
    .btn{
        background-color: black;
        color: white;
        padding: 16px 30px;
        border-radius: 1em;
        border: none;
        font-size: 1.25em;
    }
    .profile h1{
        font-size: 2.75em;
        margin-top: 0;
    }
    .profile p{
        font-size: 1.3em;
    }
}

@media (max-width:499px){
    .profile{ 
        font-size: 12px;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 0px;
    }
    .profile div{
        text-align: center
    };
    .avatar{
        width: 14em;
        height: 14em;
        object-fit: cover;
        object-position: right;
        border-radius: 50%;
    }
    .btn{
        background-color: black;
        color: white;
        padding: 16px 30px;
        border-radius: 12px;
        border: none;
        font-size: 1.25em;
    }
    .profile h1{
        font-size: 2.5em;
    }
    .profile p{
        font-size: 1.4em;
        padding: 0 2em;
    }
}

@media(min-width: 500px) and (max-width:699px){
    .profile{ 
        font-size: 12px;  
        margin:80px  2em;
        display: flex;
        align-items: center;
        gap: 20px;
       

       
    }
    .avatar{
        width: 16em;
        height: 16em;
        object-fit: cover;
        object-position: right;
        border-radius: 1em;
    }
    .btn{
        background-color: black;
        color: white;
        padding: 16px 30px;
        border-radius: 12px;
        border: none;
        font-size: 1.25em;
    }
    .profile h1{
        font-size: 2.5em;
        margin-top: 0;
    }
    .profile p{
        font-size: 1.25em;
        margin-top: 0;
    }
}